
// ## NIRI CONFIG SETUP ##

include "keybinds.kdl"
include "workstate.kdl"
include "visual.kdl"


// Note that running niri as a session supports xdg-desktop-autostart,

spawn-at-startup "qs" "-c" "noctalia-shell"
// spawn-at-startup "waybar"
spawn-at-startup "zen-browser"
spawn-at-startup "wezterm"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "xwayland-satellite" ":1"

// XWayland-Satelite
environment {
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    GDK_BACKEND "wayland,x11"
    SDL_VIDEODRIVER "wayland,x11"
    CLUTTER_BACKEND "wayland"
    MOZ_ENABLE_WAYLAND "1"
}

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/screenshot_%Y-%m-%d_%H-%M-%S.jpeg"

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}


